@import "tailwindcss";

@theme {
  --font-syne: var(--font-syne);
  --font-inter: var(--font-inter);
}

:root {
  --bg-creme: #f8fafc;
}

body {
  background-color: var(--bg-creme);
  color: #1e293b;
  margin: 0;
  font-family: var(--font-inter), sans-serif;
  -webkit-font-smoothing: antialiased;
}

* {
  border-color: #e2e8f0;
}