@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-creme: #f8fafc;
}

body {
  background-color: var(--bg-creme);
  color: #1e293b;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
}