@import "tailwindcss";

@theme {
  --font-syne: var(--font-syne);
  --font-inter: var(--font-inter);
}

body {
  background-color: #f8fafc;
  color: #1e293b;
  margin: 0;
  font-family: var(--font-inter), sans-serif;
  -webkit-font-smoothing: antialiased;
}

/* Fix per i bordi arrotondati che vedi male */
* {
  border-color: #e2e8f0;
}